header{
    background-image: url("../img/Fondologo.png");
    height: 170px;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 150px; }
.fondo{    
    width: 260px;
   margin-right:150px;
        
    
 }
body{
    margin: 0;
    height: 100vh;
    background-image:url("../img/fondo2.png") ;}

.iniciar{
    font-size: 25px;
    color: transparent; }
li a{
    color: rgba(207, 171, 171, 0.664);
    text-decoration: none;
    margin-left: 0px; }

.login{
    display: flex;
    gap: 15px; }

.caja1{
    background-color: rgba(165, 42, 42, 0.325);
    width: 300px;
    height: 300px;
    padding: 12px;
    border: solid black;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-start;
    text-align: center; 
    font-size: 20px;
    flex-direction: column;
}

.ingreso{
    font-size: 20px;
}

.caja2{
    background-color: rgba(165, 42, 42, 0.325);
    width: 375px;
    height: 300px;
    padding: 12px;
    border: solid black;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-start;
    text-align: center; 
    font-size: 20px;
    flex-direction: column;
}

.barato{
  width: 200PX;
  height: 300px;
  
}
.nav-catalogo{
    margin-left: 0px;
    border: solid 0px black;
    display: flex;
    justify-content:space-between;
}

.cuadro1{
    max-width: 1200px;
    margin: 32px;
    padding: 16px 20px 24px;
    border: 2px solid;
    border-radius: 14px;
    background-color: rgba(165, 42, 42, 0.325);
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: end;
    justify-content: space-between;
    margin: 24px auto;
    max-width: 700px;
}

.cuadro-lateral{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 500px;
    max-width: 1200px;
    border-radius: 14px;
    background-color: rgba(165, 42, 42, 0.325);  
    border: 2px solid black;
 
}
.vendidos{
    margin: 0 0 16px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #7B1E1E;
}

.cuadro2{
    max-width: 1200px;
    margin: 32px;
    padding: 16px 20px 24px;
    border: 2px solid;
    border-radius: 14px;
    background-color: rgba(165, 42, 42, 0.325);
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 24px auto;
    max-width: 700px;
    max-height: 1000px;
}




.caro{
     width: 150PX;
     height: 250px;}

.aleatorios{
     margin: 0 0 16px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #7B1E1E;
}
.texto{
    text-align: center;
    color: #7B1E1E;
    font-size: 20px;}
.categorias1{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.titulo2{
    text-align: center;
    font-size: 20px;}

.titulo1{
    width: 100%;
    border-radius: 14px;
    border: solid black 2px;
    margin: 0;
    text-align: center;
    justify-content: center;
}

li {
    list-style-type: none;
    font-size: 20px; }

.main{
    display: flex;
    flex-wrap: nowrap;
    
}
.terminos{
    border-radius: 10px;
    color: black;
    padding: 10px;
    justify-content: center;
    margin: 15px;
}